.AdminLogin_back_{
  height: auto;
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/557/259/original/abstract-fluid-background-with-blue-color-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}
.admin_login_form__{
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.adminLogin_con_{
  height: auto;
  padding: 43px 0;
}
.admin_login_form_inputs__{
  background-color: white;
  border-radius: 8px;
}
.admin_login_form_inputs__:focus{
  border-bottom: 1px solid gray;
}